:root {
    --fontDefault: 16px;
    --fontSize: 1rem;
    --gap: 1rem;
    --fillMain: #AB52CE;
    --fillSecond: #FE8687;
    --fillThird: #f7f7f7;
    --fillFourth: #5A5C61B2;
    --fillFont: #5A5C61;
    --fillBack: #ffeded;
    --transition: ease all .24s;
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(var(--fontSize) * 7.5);
    scroll-behavior: smooth;
}

body {
    font-family: Manrope, sans-serif;
    font-size: var(--fontDefault);
    font-weight: 400;
    line-height: 1.5;
    color: var(--fillFont);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--fillThird);
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5rem;
}

.event__image-container {
    display: none;
}

.event {
    width: 100%;
    background: linear-gradient(to right, #DBF7FA, #FFFFFF, #DBF7FA);
    padding: 4rem 0;
}

.event__date {
    font-weight: 800;
}

h1 {
    font-size: calc(var(--fontSize) * 1.5);
}

.event__slogan {
    background: linear-gradient(to right, #AB52CE, var(--fillSecond));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin-top: 3.25rem;
    line-height: 1.1;
    font-size: calc(var(--fontSize) * 1.5);
}

.--highlight {
    font-size: calc(var(--fontSize) * 4);
}

.event__description {
    margin-top: 2rem;
}

.btn {
    border-radius: 50px;
    background-color: var(--fillMain);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-decoration: none;
}

.event__title {
    margin-top: 2.5rem;
}

.sales {
    background-color: var(--fillThird);
    padding-top: 8rem;
    padding-bottom: 6.4rem;
}

.sales__image {
    display: none;
}

.title {
    font-size: calc(var(--fontSize) * 1.7);
}

.sales__item.discount {
    font-size: calc(var(--fontSize) * 4);
    font-weight: 600;
    background: linear-gradient(to right, var(--fillMain), var(--fillSecond));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sales__item.description {
    color: var(--fillFourth);
}

.sales__column.--3 {
    margin-top: 5.2rem;
}

.team__bg-image {
    display: none;
}

.conditions {
    background-color: var(--fillBack);
    padding: 1.25rem 0;
    color: var(--fillFourth);
}

.team {
    padding-top: 1.25rem;
    position: relative;
}

.team__lead {
    margin-top: 6.25rem;
}

.swiper team__swiper {
    padding-top: 4rem;
    justify-content: center;
    margin: 0 auto;
}

.team__member-photo, .team__lead-photo {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #fce5e9, #eedcf5);
}

.team__member-photo:before, .team__lead-photo:before {
    content: "";
    display: block;
    padding-bottom: 135%;
    width: 100%;
}

.team__member-image, .team__lead-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.team__member-name {
    font-size: calc(var(--fontSize) * 1.5);
}

.team__lead-photo {
    background: linear-gradient(to right, #fce5e9, #eedcf5);
    position: relative;
}

.team__lead-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.team__lead-name {
    font-weight: 400;
    font-size: calc(var(--fontSize) * 1.5);
}

.team__description {
    font-size: var(--fontSize);
}

.event .btn {
    margin: 1.5rem auto 0;
    width: 100%;
}

.program__bg-image.--left {
    display: none;
}

.program__bg-image.--right {
    display: none;
}

.btn.--white {
    border: 2px solid var(--fillMain);
    color: var(--fillFont);
    background: white;
}

.team__carousel {
    position: relative;
}

.team swiper-button-next {
    right: -8.75rem;
    top: 13.75rem;
}

.team .swiper-button-next {
    right: -7.5rem;
    top: 13.75rem;
}

.team .swiper-button-prev {
    left: -7.5rem;
    top: 13.75rem;
}

.team .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -2rem;
}

.team .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--fillMain);
}

.team__lead-info {
    font-size: calc(var(--fontSize) * 0.7);
}

.program__channel {
    margin-top: 0.25rem;
}

.program__schedule {
    font-size: calc(var(--fontSize) * 0.9);
    text-align: left;
    margin-bottom: 2rem;
}

.program__act {
    padding-bottom: 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.infodate {
    padding: 3.75rem 0;
    background: white;
}

.footer {
    background: #5A5C610D;
}

.footer__content {
    padding-top: 1.25rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.event__content {
    height: 100%;
}

.event .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .event__logo img {
        width: auto;
        margin-bottom: 1rem;
    }

    .event__info {
        width: 80%;
        margin: 0 auto;
    }

    .event__date {
        font-size: calc(var(--fontSize) * 1.8);
    }

    .program__name {
        font-size: calc(var(--fontSize) * 1.5);
    }

    .team__title {
        font-size: calc(var(--fontSize) * 2.3);
        max-width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .team__member-specialty {
        font-size: calc(var(--fontSize) * 1.3);
    }

    .event__description {
        font-size: calc(var(--fontSize) * 1.5);
    }

    .event {
        margin: 0 auto;
        height: 100dvh;
    }

    .event__slogan {
        font-size: calc(var(--fontSize) * 2);
    }

    .--highlight {
        font-size: calc(var(--fontSize) * 6);
    }

    .event .btn {
        font-size: calc(var(--fontSize) * 1.3);
        padding: 1.25rem 5rem;
    }

    .sales {
        padding-bottom: 6.5rem;
        padding-top: 6.3125rem;
    }

    .sales__column {
        width: 80%;
        margin: 0 auto;
    }

    .sales__image {
        display: block;
        width: 12.5rem;
        margin: 0 auto;
        margin-top: 4.5625rem;
    }

    .title {
        font-size: calc(var(--fontSize) * 2);
    }

    .sales__item.discount {
        font-size: calc(var(--fontSize) * 6);
    }

    .sales__item.description {
        font-size: calc(var(--fontSize) * 1.25);
    }

    .conditions.description {
        font-size: calc(var(--fontSize) * 1.25);
        width: 80%;
        margin: 0 auto;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .team__lead-name {
        font-size: calc(var(--fontSize) * 2.1);
    }

    .team__description {
        font-size: calc(var(--fontSize) * 1.4);
    }

    .program__header {
        min-height: 100dvh;
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }

    .program__schedule {
        width: 70%;
        margin: 0 auto;
        font-size: calc(var(--fontSize) * 1.25);
    }

    .program__date {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .program__channel {
        font-size: calc(var(--fontSize) * 1.5);
    }

    .program__list {
        padding-top: 1.25rem;
    }

    .program__buttons {
        width: 70%;
    }

    .program__act {
        font-size: calc(var(--fontSize) * 1.25);
    }

    .infodate {
        font-size: calc(var(--fontSize) * 1.25);
    }

    .event__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

@media (min-width: 1240px) {
    .event {
        padding-top: 2.8125rem;
        padding-bottom: 6.25rem;
    }

    .event__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
    }

    .event__image-container {
        display: block;
    }

    .event__info {
        font-weight: 800;
    }

    .event__date {
        display: block;
        font-size: calc(var(--fontSize) * 1.5);
    }

    .event__title {
        margin-top: 3.6rem;
    }

    .event__description {
        font-size: var(--fontSize);
        color: var(--fillFourth);
    }

    .event__slogan {
        font-size: calc(var(--fontSize) * 1.5);
        display: flex;
        flex-direction: column;
        line-height: 0.8;
    }

    .--highlight {
        font-size: calc(var(--fontSize) * 7);
        font-weight: 700;
    }

    .program__act {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        justify-content: center;
        padding-bottom: 7.5rem;
        margin-top: 3.4375rem;
    }

    .btn {
        cursor: pointer;
        transition: var(--transition);
        padding: 1rem 4rem;
    }

    .btn:hover {
        background-color: var(--fillSecond);
    }

    .btn:active {
        transform: scale(.95);
    }

    .sales {
        background-color: var(--fillThird);
    }

    .sales .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .title {
        font-size: calc(var(--fontSize) * 1.5);
        font-weight: 800;
    }

    .description {
        font-size: var(--fontSize);
        font-weight: 400;
    }

    .program__bg-image {
        position: relative;
    }

    .program__title {
        font-size: calc(var(--fontSize) * 1.8);
        margin: 0;
        padding-top: 5.9375rem;
    }

    .program__date {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: var(--fontSize);
        text-align: center;
        margin-top: 3.5rem;
    }

    .program__channel {
        font-size: var(--fontSize);
        margin: 0;
    }

    .program {
        background: #5A5C610D;
        position: relative;
    }

    .program__bg-image {
        position: absolute;
        z-index: -1;
    }

    .program__bg-image.--left {
        left: 6.25rem;
        bottom: 1.5rem;
        display: block;
    }

    .program__bg-image.--right {
        right: 3rem;
        bottom: 3rem;
        display: block;
    }

    .program__schedule {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        font-size: var(--fontSize);
        margin-top: 2rem;
    }

    .program__list {
        flex: 1;
        min-width: 12.5rem;
        max-width: 25%;
    }

    .infodate {
        font-size: calc(var(--fontSize) * 0.9);
    }

    footer {
        background: #5A5C610D;
        margin: 0;
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.25rem;
    }

    .footer__social {
        display: flex;
        gap: 2.375rem;
    }

    .team__title {
        font-size: calc(var(--fontSize) * 1.8);
        font-weight: 800;
    }

    .team__bg-image {
        position: absolute;
        right: 6.25rem;
        bottom: 5rem;
        z-index: -1;
        display: block;
    }

    .team {
        padding-top: 6rem;
        position: relative;
    }

    .team__lead {
        display: flex;
        gap: 4rem;
        width: 58rem;
        height: 28rem;
        margin-top: 8.5rem;
    }

    .swiper team__swiper {
        padding-top: 4.4rem;
        width: 100%;
        max-width: 90rem;
        height: 24rem;
        display: flex;
        justify-content: center;
        gap: 6.25rem;
        margin: 0 auto;
    }

    .team__member-image {
        background-image: linear-gradient(to right, #fce5e9, #eedcf5);
        position: relative;
        width: 100%;
    }

    .team__member-image:before {
        content: "";
        display: block;
        padding-bottom: 115%;
        width: 100%;
    }

    .team__member-name {
        text-align: center;
        font-size: var(--fontSize);
        font-weight: 800;
        color: var(--fillFont);
        padding-top: 1.8rem;
    }

    .team__member-specialty {
        height: 1.6rem;
        text-align: center;
        font-size: var(--fontSize);
        font-weight: 400;
        color: var(--fillFont);
        line-height: 1.6rem;
    }

    .team__lead-photo {
        width: 20rem;
        height: 22rem;
        background: linear-gradient(to right, #fce5e9, #eedcf5);
    }

    .team__lead-photo img {
        display: block;
    }

    .team__description p {
        font-size: calc(var(--fontSize) * 1.2);
    }

    .team__lead-info {
        text-align: left;
    }

    .team__lead-name {
        display: flex;
        flex-direction: column;
    }

    .event .btn {
        width: 45%;
        font-size: var(--fontSize);
    }

    .btn.--white {
        color: var(--fillFont);
        font-size: var(--fontSize);
        font-weight: 600;
        position: relative;
        background: transparent;
        border: none;
        border-radius: 50px;
        z-index: 1;
        transition: var(--transition);
    }

    .btn.--white:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: linear-gradient(var(--fillMain), var(--fillSecond));
        z-index: -1;
        border-radius: 50px;
    }

    .btn.--white:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        z-index: -1;
        border-radius: 50px;
        transition: var(--transition);
    }

    .btn.--white:hover::after {
        background: #e8d9b0;
    }

    .btn.--white:hover {
        color: white;
    }

    .program__list {
        list-style-type: none;
    }

    .program__item {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 0.625rem;
    }

    .program__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.4rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: linear-gradient(var(--fillMain), var(--fillSecond));
    }

    .team__carousel {
        position: relative;
    }

    .team swiper-button-next {
        right: -8.75rem;
        top: 13.75rem;
    }

    .team .swiper-button-next {
        right: -7.5rem;
        top: 13.75rem;
    }

    .team .swiper-button-next::after {
        color: var(--fillMain);
        font-size: calc(var(--fontSize) * 2);
    }

    .team .swiper-button-prev {
        left: -7.5rem;
        top: 13.75rem;
    }

    .team .swiper-button-prev::after {
        color: var(--fillMain);
        font-size: calc(var(--fontSize) * 2);
    }

    .team .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -2rem;
    }

    .team .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--fillMain);
    }

    .team__member-photo, .team__lead-photo {
        position: relative;
        overflow: hidden;
    }

    .team__member-photo:before, .team__lead-photo:before {
        content: "";
        display: block;
        padding-bottom: 135%;
        width: 100%;
    }

    .team__member-image, .team__lead-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .sales__image {
        width: 100%;
    }
}





